---
apiVersion: v1
kind: Namespace
metadata:
  name: blockscout
  labels:
    name: blockscout
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db-ro
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_replica_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db-stats
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_stats_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-sc-verifier
  namespace: blockscout
spec:
  type: ClusterIP
  selector:
    app: blockscout-sc-verifier
  ports:
  - port: 8050
    name: http
    targetPort: 8050
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blockscout-sc-verifier
  namespace: blockscout
spec:
  selector:
    matchLabels:
      app: blockscout-sc-verifier
  template:
    metadata:
      labels:
        app: blockscout-sc-verifier
    spec:
      containers:
      - name: blockscout-sc-verifier
        image: sagaxyz/smart-contract-verifier:v1.9.2
        env:
        - name: SMART_CONTRACT_VERIFIER__SERVER__HTTP__MAX_BODY_SIZE
          value: "10000000"
        - name: SOURCIFY_INTEGRATION_ENABLED
          value: "true"
        - name: SOURCIFY_SERVER_URL
          value: "https://sourcify.dev/server"
        - name: SOURCIFY_REPO_URL
          value: "https://repo.sourcify.dev/select-contract/"
{% if eks_nodegroup_ami_type == "AL2_ARM_64" %}
        - name: SMART_CONTRACT_VERIFIER__SOLIDITY__FETCHER__LIST__LIST_URL
          value: "https://raw.githubusercontent.com/blockscout/solc-bin/refs/heads/main/solc.aarch64.list.json"
{% endif %}
        resources:
          requests:
            memory: 500Mi
            cpu: 200m
          limits:
            memory: 1Gi
            cpu: 400m
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8050
          name: http
          
